<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <h1>Maayan's shop</h1>
    <p>Maayan's shop sells evrithing</p>
    <h3>Some of our products:</h3>
     <br>
     <a href="product.html"><img src="https://www.telegraph.co.uk/recommended/leisure/best-water-bottles/" width="150"></a>
    <br> 
    <p>water bottles</p>
     <br> <br>
    <a href="shirts.html"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkqpCbDjcZXvhBOWBQG__V1r_BSSGpaKej2g&usqp=CAU"width="150"></a>
     <br>
    <p>shirts</p>
     <br> <br>
    <a href="milk.html"><img src="https://images-eu.ssl-images-amazon.com/images/I/912TWtEbYkL._AC_UL600_SR600,600_.jpg"width="150"></a>
     <br>
    <p>milk</p>
     <br> <br>
     <a href="eggs.html"><img src="https://www.istockphoto.com/photos/eggs"width="150"></a>
    <p>eggs</p>
     <br> <br>
    <h3>and everithing that come to your mind!</h3>
    <a class= "cart" href="cart.html">cart</a>



</body>
</html>