<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>shirts</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
	<div class="card">
  		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkqpCbDjcZXvhBOWBQG__V1r_BSSGpaKej2g&usqp=CAU"width="150">
  		<h1>milk</h1>
  		<p class="price">$3</p>
  		<a class= "homelink" href="home.html"></a>
	</div>
	<a class= "cart" href="cart.html">cart</a>
</body>
</html>