<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bottles of water</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <div class="card">
        <img src="https://www.verywellfamily.com/thmb/u5H3_9zbGzRgvbFHGb_sg98V1Nc=/900x0/filters:no_upscale():max_bytes(150000):strip_icc()/contigo1-8190c0629c134169916fa6b18e25877c.jpg" width="250" height="250">
        <h1>bottles of water</h1>
        <p class="price">$5</p>
        <a class= "cart" href="/">Home page</a>
        <a class= "cart" href="/cart">Add to cart</a>
    </div>
</body>
</html>